extends _layout

block main
    div.container
        div.page-header
            h1 基础Web应用模板
        div.content
            p 欢迎使用Web基础应用模板。
            p
                img(src="/img/example.png", alt="")